footer.nb-footer {
    
    background: rgba(136, 129, 129, 0.13);
    border-top: 4px solid #b78c33; }
    footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
    footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
    footer.nb-footer .about .social-media {
    margin-top: 15px; }
    footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #b78c33;
    border: 1px solid rgba(230, 90, 90, 0.3); }
    footer.nb-footer .about .social-media ul li a:hover {
    background: #b78c33;
    color: #fff;
    border-color: #b78c33; }
    footer.nb-footer .footer-info-single {
    margin-top: 30px; }
    footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 5px; }
    footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
    footer.nb-footer .footer-info-single ul li a:hover {
    color: #b78c33; }
    footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
    footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999; }
    footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }

    #imag_log{
        z-index: 80; 
        position: absolute; 
        width: 45px;
        height: 45px;
        top: 3px; 
        right: 10px;
        border: #fff solid ;
        
    }
    
    #zone_recherche{
        width: 300px;
        
    }
   
    #menu > li{
           
            border-bottom: 1px solid #e1e1e1;
            background: #fff;
            margin: 10px;
    }
    #menu
    {
        z-index: 9999; 
        text-decoration: none;
        padding: 10px;
        display: block;
        color: #333;
        position: absolute;
        right: 70px;
        top: 20px;   
        box-shadow: 0px 0px 3px 1px #ddd;
        width:200px;
        background: #fff;
        
       
    }
    #title_form {
        margin-top: 300px;
        
        z-index: 9999;
        background: blueviolet;
        width: 50px;
        height: 50px;
        top:500px;
        position: absolute;
        margin-top: 300px;
    }
    #message_acceuil {
        float:top;       
        z-index: 9999;
        width: 25%;
        top:30px;
        left: 600px;
        position: absolute;
        
        
    }

    /**************************************************************************************************************/
    